@import '../../abstracts/variables.scss';

.TechSkills {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .TechSkills_description {
    padding: 0px 400px;
    color: $color-main-text;
    font-size: 1.5rem;
  }
  .TechSkills_title {
    padding: 0 0.2em;
    box-shadow: inset 0 -0.6em #ddf5f3;
    color: #272644;
    font-size: $sub-heading-size;
  }

  .TechSkills_icons {
    display: flex;
    column-gap: 10%;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
  }

  .TechSkills_skillIconContainer {
    display: flex;
    flex-direction: column;
    
  }
  .TechSkills_iconText {
    color: $color-main-text;
  }

  .TechSkills_skillIcon {
    fill: #BAE8EA;
  }



