$color-primary: rgb(221, 245, 243);
$color-secondary: rgb(39, 38, 68);
$color-main-text: #8C9CB1;
$color-black: #333333;
$color-white: #fafafa;
$font-body: "Nunito", cursive;
$font-display: "Raleway", sans-serif;