$color-primary: #DDF5F3;
$color-secondary: #272644;
$color-main-text: #8C9CB1;
$color-black: #333333;
$color-white: #fafafa;
$font-body: "Nunito", cursive;
$font-display: "Raleway", sans-serif;
$sub-heading-size: 2rem;