@import '../../abstracts/variables.scss';


.Projects_projectBox {
  width: 400px;
  height: 205px;
  background-color: #ddf5f3;
}

.Projects_projTool {
  font-size: 15px;
  font-weight: 900;
  color: #BAE8EA;
  padding-top: 10px;
}

.Projects_projText {
  text-align: center;
  padding-top: 10px;
  color: $color-main-text;
}

.Projects_projSectTitle {
  color: #272644;
  font-size: 30px;
  font-weight: 900;
  padding-top: 10px;
  text-align: center;
}

.Projects_codPrevIcons {
  padding-top: 10px;
  color: $color-secondary;
}




.Projects_projImg {
  width: 95%;
  height: auto;
  margin-top: 2%;
  margin-left: 2.5%;
}

.devSymbStyles {
  margin-right: 1vw;
}


@media screen and (max-width: 600px) {
  .Projects_projectBox {
    width: 100%;
    height: auto;
  }
}