@import '../../abstracts/variables.scss';

.AboutMe {
    height: 65vh;
    padding: 50px 300px;
    width: 100%;
    background-color: #ddf5f3;
    display: flex;
    justify-content: space-between;
  }
  .AboutMe_content {
    display: flex;
    flex-direction: column;
    background-color: #ddf5f3;
    padding: 50px;
    justify-content: center;
  }
  .AboutMe_title {
    color: $color-secondary;
    background-color: #ddf5f3;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
  }
  .AboutMe_p {
    background-color: #ddf5f3;
    color: $color-main-text;
    font-size: 1.2rem;
    text-align: center;
  }

  @media screen and (max-width: 1372px) {
    .AboutMe {
      padding: 30px 150px;
      margin-top: 20px;
    }
  }

    @media screen and (max-width: 1000px) {
      .AboutMe {
        padding: 30px 90px;
        margin-top: 20px;
      }

    
      .AboutMe_p {
        background-color: #ddf5f3;
        color: $color-main-text;
        font-size: 1.1rem;
        text-align: center;
      }

  }
  


  @media screen and (max-width: 700px) {
    .AboutMe {
      padding: 30px 50px;
      margin-top: 20px;
    }

  
    .AboutMe_p {
      background-color: #ddf5f3;
      color: $color-main-text;
      font-size: 1rem;
      text-align: center;
    }

}

@media screen and (max-width: 550px) {
  .AboutMe {
    padding: 0px 10px;
    margin-top: 20px;
  }


  .AboutMe_p {
    background-color: #ddf5f3;
    color: $color-main-text;
    font-size: 0.8rem;
    text-align: center;
  }

}